RewriteEngine On

# Bloquer l'accès direct aux dossiers sensibles
RewriteRule ^app/ - [F,L]
RewriteRule ^config/ - [F,L]
RewriteRule ^vendor/ - [F,L]

# Laisser passer les fichiers et dossiers qui existent vraiment (CSS, images...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout le reste → index.php
RewriteRule ^ index.php [QSA,L]